body{
  margin: 100px 0 0 200px;
}

#outer{
  width: 500px;
  border: 1px solid rgb(70,130,180);
  text-align: center;
}

#img1{
  border: 4px ridge lightblue;
  padding: 10px;
  margin: 25px 0 25px 0;
}
