body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.cl1{
  font-family: Comic Sans MS;
  font-size: 25px;
  text-align: center;
  border-radius:10px 40px 10px 40px;
  background-color: white;
  width: 500px;
  margin: 80px 20px;
  padding: 15px;
  border: 3px solid black;
}

.cl2{
  font-family: Comic Sans MS;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  border-radius:10px 40px 10px 40px;
  background-color: white;
  width: 500px;
  margin: 80px 20px;
  padding: 15px;
  border: 3px solid black;
}
.cp1{
  font-family: Comic Sans MS;
  font-size: 25px;
  text-align: center;
  border-radius:10px 40px 10px 40px;
  background-color: white;
  width: 500px;
  margin: 80px 850px;
  padding: 15px;
  border: 3px solid black;
}

.cp2{
  font-family: Comic Sans MS;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  border-radius:10px 40px 10px 40px;
  background-color: white;
  width: 500px;
  margin: 80px 850px;
  padding: 15px;
  border: 3px solid black;
}
