.text1 {
  font-family: Comic Sans MS;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.text2 {
  font-family: Comic Sans MS;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.text3 {
  font-family: Comic Sans MS;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-radius:30px;
  margin: auto 120px;
}
.text4 {
  font-family: Comic Sans MS;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

body{
  background-image: url(gen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}
