body{
  background-color: lightyellow;
}

.square{
  position: absolute;
  display: block;
  left: 400px;
  z-index: 2;
  /*visibility: hidden;*/
}

.rect{
  position: absolute;
  display: block;
  margin: 80px 0 0 150px;
  z-index: 1;
}
